<!DOCTYPE html>

<html>
	<head>
		<title>FRIA</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
		<link rel = "stylesheet" type = "text/css" href = "ViewReviews.css">
	</head>

	<body>
		<!-- ORANGE HEADER -->
		<div id="orange">
			<div class="ui grid center aligned">
				<div class="two column row">
					<div class="column">
						<table style="margin-left: 100px">
							<tr>
								<td></td>
								<td><h1 style="text-align: left; font-size: 55px">FRIA</h1></td>
							</tr>
							<tr>
								<td></td>
								<td><h3 style="text-align: left; font-size: 20px">Faculty Research Incentive Award</h3></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div> <!-- .column first -->
					<div class="column">
						<div class="ui relaxed grid" style="margin-top: 60px">
							<div class="five column row">
								<div class="column"><h3 id="menu">Home</h3></div>
								<div class="column"><h3 id="highlighted_page">Proposals</h3></div>
								<div class="column"><h3 id="menu">Archive</h3></div>
								<div class="column"><h3 id="menu">Settings</h3></div>
								<div class="column"><h3 id="menu">Log Out</h3></div>
							</div>
						</div>
					</div> <!-- .column third -->
				</div> <!-- .three.column.row -->
			</div> <!-- .ui.grid.center.aligned -->
		</div> <!--orange -->
		<!-- ORANGE HEADER -->

		<!-- BODY -->
		<div class="ui grid center aligned" style="margin-top: 20px; margin-left: 200px; margin-right: 200px; margin-top: 50px">
			<div class="two column row">
				<!-- PROPOSALS -->
				<div class="column">
					<div class="ui segment">
						<h3>Proposal Title</h3>
						<h3>Researcher</h3>
						<div class="ui divider">
							<br>
							<p>Lorem ipsum dolor sit amet,
								<br>consectetur adipisicing elit.
								<br>Ad omnis quae expedita ipsum
								<br>nobis praesentium velit animi
								<br>minus amet perspiciatis laboriosam
								<br>similique debitis iste ratione nemo
								<br>ea at corporis aliquam.
								<br>Lorem ipsum dolor sit amet,
								<br>consectetur adipisicing elit.
								<br>Ad omnis quae expedita ipsum
								<br>nobis praesentium velit animi
								<br>minus amet perspiciatis laboriosam
								<br>similique debitis iste ratione nemo
								<br>ea at corporis aliquam.
							</p>
							<br>
							<button class="ui secondary button" type="view">View Review</button>
						</div> <!-- .ui.divider -->
					</div> <!-- .ui.segment -->
				</div> <!-- .six.wide.column -->
				<!-- PROPOSALS -->
				<!-- REVIEWS -->
				<div class="column">
					<div class="ui segment">
						<h3>Reviews</h3>
						<br>
						<div class="ui middle aligned divided list">
							<div class="item">
								<div class="right floated content">
									<p>Review 1</p>
								</div>
								<div class="left floated content">
									<p>Committee Member 1</p>
								</div>
							</div> <!-- item 1 -->
							<br>
							<div class="item">
								<div class="right floated content">
									<p>Review 2</p>
								</div>
								<div class="left floated content">
									<p>Committee Member 2</p>
								</div>
							</div> <!-- item 2 -->
							<br>
							<div class="item">
								<div class="right floated content">
									<p>Review 3</p>
								</div>
								<div class="left floated content">
									<p>Committee Member 3</p>
								</div>
							</div> <!-- item 3 -->
						</div>
					</div>
				</div> <!-- .six.wide.column -->
				<!-- REVIEWS -->
			</div> <!-- .two.column.row -->
		</div> <!-- .ui.grid.center.aligned -->
		<!-- BODY -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
	</body>

</html>
