<div class="ui text container">
    <h1 class="ui header center aligned">Create Announcement</h1>
    <div class="ui segment center aligned" style="margin-bottom: 10px;">
        <%= render 'form' %>
    </div>
</div>
