<div class="ui container grid">
    <div class="row">
        <div class="ten wide column right bordered">
            <div class="ui segment">
                <div class="ui huge header">
                    Announcements
                </div>
                <div class="ui celled feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header 
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui basic segment center aligned">
                <div class="ui statistic">
                    <div class="value">
                        5:30 PM
                    </div>
                    <div class="label">
                        UP Official Time
                    </div>
                </div>
            </div>
            <div class="ui basic attached segment">
                <div class="ui header center aligned">
                  Pending Accounts <!--edited-->
                </div>
                <div class="ui selection celled list">
                    <div class="item">
                        <div class="content">
                            <div class="header">User 1</div> <!---edited-->  
                            <div class="description">
                                Rank, Department
                            </div>
                            <div class="ui button" >Accept</div> 
                            <div class="ui button" >Reject</div> 
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">User 2</div> <!---edited-->  
                            <div class="description">
                                Rank, Department
                            </div>
                            <div class="ui button" >Accept</div> 
                            <div class="ui button" >Reject</div> 
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">User 3</div> <!---edited-->  
                            <div class="description">
                                Rank, Department
                            </div>
                            <div class="ui button" >Accept</div> 
                            <div class="ui button" >Reject</div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui button bottom orange attached"> <!---edited-->  
                See more pending accounts ->
            </div>
        </div>
    </div>
</div>