<div class="ui padded container segment">
    <div class="ui segment">
        <div class="ui medium header">
            Accounts
        </div>
        <div class="ui celled feed">
            <div class="event">
                <div class="content">
                    <div class="summary">
                         User 1
                    </div>
                    <div class="extra text">
                        Rank, Department
                    </div>
                    <div class="ui primary button">
                        Activate
                    </div>
                    <div class="ui button">
                        Discard
                    </div>   
                 </div>
            </div>
        </div>
        <div class="ui celled feed">
            <div class="event">
                <div class="content">
                    <div class="summary">
                         User 2
                    </div>
                    <div class="extra text">
                        Rank, Department
                    </div>
                    <div class="ui primary button">
                        Activate
                    </div>
                    <div class="ui button">
                        Discard
                    </div>
                 </div>
            </div>
        </div>
        <div class="ui celled feed">
            <div class="event">
                <div class="content">
                    <div class="summary">
                         User 3
                    </div>
                    <div class="extra text">
                        Rank, Department
                    </div>
                    <div class="ui primary button">
                        Activate
                    </div>
                    <div class="ui button">
                        Discard
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
   