<div class="ui container grid center aligned">
    <div class="row">
        <div class="fourteen wide column">
            <div class="ui basic segment">
                <div class="ui medium header">
                    Users
                </div>
                <table class="ui orange striped selectable celled table">
                  <thead>
                    <tr><th>Email</th>
                    <th>Status</th>
                    <th class="four wide">Actions</th>
                  </tr></thead>
                  <tbody>
                    <% @users.each do |user| %>
                    <tr>
                        <td><%= user.email %></td>
                        <td>
                            <% if user.activated? %>
                            Activated
                            <% else %>
                            Deactivated
                            <% end %>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
