<footer class="ui container grid">
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui header tiny center aligned">
                    <div class="sub header">
                        &copy; University of the Philippines Diliman – College of Engineering 2017
                    </div>
                </div>
        </div>
    </div>
</footer>