<div class="ui fixed menu borderless">
	<div class="ui container">
		<div class="left menu">
			<a class="item brand">
				<%= image_tag 'coe_logo.png', class: 'ui tiny middle aligned image' %>
				<h1 class="ui header white spaced">
					FRIA
					<div class="sub header white">
					Faculty Research Incentive Award
					</div>
				</h1>
			</a>
		</div>
		<div class="right menu">
			<div class="ui input"></div>
		</div>
	</div>
</div>