<!DOCTYPE html>

<html>
	<head>
		<title>FRIA</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
		<link rel = "stylesheet" type = "text/css" href = "MemberViewProposal.css">
	</head>

	<body>

		<!-- ORANGE HEADER -->
		<div id="orange">
			<div class="ui grid center aligned">
				<div class="two column row">
					<div class="column">
						<table style="margin-left: 100px">
							<tr>
								<td></td>
								<td><h1 style="text-align: left; font-size: 55px">FRIA</h1></td>
							</tr>
							<tr>
								<td></td>
								<td><h3 style="text-align: left; font-size: 20px">Faculty Research Incentive Award</h3></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div> <!-- .column first -->
					<div class="column">
						<div class="ui relaxed grid" style="margin-top: 60px">
							<div class="five column row">
								<div class="column"><h3 id="menu">Home</h3></div>
								<div class="column"><h3 id="highlighted_page">Proposals</h3></div>
								<div class="column"><h3 id="menu">Archive</h3></div>
								<div class="column"><h3 id="menu">Settings</h3></div>
								<div class="column"><h3 id="menu">Log Out</h3></div>
							</div>
						</div>
					</div> <!-- .column third -->
				</div> <!-- .three.column.row -->
			</div> <!-- .ui.grid.center.aligned -->
		</div> <!--orange -->
		<!-- ORANGE HEADER -->

		<!-- BODY -->
		<div class="ui grid middle aligned" style="margin-top: 70px">
			<div class="three column row">
				<div class="column"></div>
				<div class="column">
					<div class="ui piled segment" style="text-align: center">
						<h3 id="title">Proposal Title</h3>
						<h4 id="author">Researcher</h4>
						<div class="ui divider" id="proposal_info">
							<br>
							<p>Lorem ipsum dolor sit amet,
								<br>consectetur adipisicing elit.
								<br>Ad omnis quae expedita ipsum
								<br>nobis praesentium velit animi
								<br>minus amet perspiciatis laboriosam
								<br>similique debitis iste ratione nemo
								<br>ea at corporis aliquam.
								<br>Lorem ipsum dolor sit amet,
								<br>consectetur adipisicing elit.
								<br>Ad omnis quae expedita ipsum
								<br>nobis praesentium velit animi
								<br>minus amet perspiciatis laboriosam
								<br>similique debitis iste ratione nemo
								<br>ea at corporis aliquam.
							</p>
							<br>
							<button class="ui secondary button" type="view">View Proposal</button>
						</div> <!-- .ui.divider -->
					</div> <!-- .ui.piled.segment -->
				</div> <!-- .column -->
				<div class="column"></div>
			</div> <!-- .three.column.row -->
		</div> <!-- .ui.grid.middle.aligned -->
		<!-- BODY -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
	</body>

</html>