<!-- STEPS LEFT TEMPLATE FROM THE INTERNET, NOT YET APPLIED IN THE SYSTEM, CAN'T FIX -->

<!DOCTYPE html>

<html>
	<head>
		<title>FRIA</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
		<link rel = "stylesheet" type = "text/css" href = "SubmitProposal.css">
	</head>

	<body>
		<!-- ORANGE HEADER -->
		<div id="orange">
			<div class="ui grid center aligned">
				<div class="two column row">
					<div class="column">
						<table style="margin-left: 100px">
							<tr>
								<td></td>
								<td><h1 style="text-align: left; font-size: 55px">FRIA</h1></td>
							</tr>
							<tr>
								<td></td>
								<td><h3 style="text-align: left; font-size: 20px">Faculty Research Incentive Award</h3></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div> <!-- .column first -->
					<div class="column">
						<div class="ui relaxed grid" style="margin-top: 60px">
							<div class="four column row">
								<div class="column"><h3 id="menu">Home</h3></div>
								<div class="column">
									<div class="ui simple dropdown">
										<div class="text"><h3 id="highlighted_page">Proposals</h3></div>
										<i class="dropdown icon"></i>
										<div class="menu">
											<div class="item"><h3 id="highlighted_page" style="font-size: 17px">Submit Proposal</h3></div>
											<div class="item"><h3 style="font-size: 17px">My Proposals</h3></div>
										</div>
									</div>
								</div>
								<div class="column"><h3 id="menu">Settings</h3></div>
								<div class="column"><h3 id="menu">Log Out</h3></div>
							</div>
						</div> <!-- .ui.relaxed.grid -->
					</div> <!-- .column third -->
				</div> <!-- .three.column.row -->
			</div> <!-- .ui.grid.center.aligned -->
		</div> <!-- orange -->
		<!-- ORANGE HEADER -->

		<!-- BODY -->
		<!-- multistep form -->
		<form id="msform">
			<!-- progressbar -->
			<ul id="progressbar">
				<li class="active">Personal Info</li>
				<li>Proposal Info</li>
				<li>Upload Files</li>
				<li>Upload Proposal</li>
			</ul>

			<!-- PERSONAL FORM -->
			<fieldset>
				<h2 class="fs-title">Personal Info</h2>
				<p style="text-align: left">Required Fields<strong>*</strong></p>
				<br>
				<div class="ui form">
					<div class="two fields">
						<div class="field">
							<label>First Name<strong>*</strong></label>
							<input type="text" name="firstname" placeholder="First Name">
						</div>
						<div class="field">
							<label>Last Name<strong>*</strong></label>
							<input type="text" name="lastname" placeholder="Last Name">
						</div>
					</div> <!-- .two.fields -->
					<div class="two fields">
						<div class="field">
							<label>Department or Institute<strong>*</strong></label>
							<input type="text" name="dept" placeholder="Department or Institute">
						</div>
						<div class="field">
							<label>Rank<strong>*</strong></label>
							<input type="text" name="rank" placeholder="Rank">
						</div>
					</div> <!-- .two.fields -->
					<div class="two fields">
						<div class="field">
							<label>Contact Number<strong>*</strong></label>
							<input type="text" name="contact" placeholder="Mobile Phone/Telephone">
						</div>
						<div class="field">
							<label>Email Address<strong>*</strong></label>
							<input type="text" name="email" placeholder="Email Address">
						</div>
					</div> <!-- .two.fields -->
				</div>
				<input style="position: absolute; bottom: 10px; right: 0" type="button" name="next" class="next action-button" value="Next" />
			</fieldset>
			<!-- PERSONAL FORM -->


			<!-- PROPOSAL FORM -->
			<fieldset>
				<h2 class="fs-title">Proposal Info</h2>
				<p style="text-align: left">Required Fields<strong>*</strong></p>
				<br>
				<div class="ui form">
					<div class="field">
						<label>Title of Project<strong>*</strong></label>
						<input type="text" name="title" placeholder="Title of the Project">
					</div> <!-- .field -->
					<div class="two fields">
						<div class="field">
							<label>Princinpal Researcher<strong>*</strong></label>
							<input type="text" name="researcher" placeholder="Principal Researcher">
						</div>
						<div class="field">
							<label>Name of Coresearchers</label>
							<input type="text" name="coresearchers" placeholder="Coresearchers">
						</div>
					</div> <!-- .two.fields -->
					<div class="three fields">
						<div class="field">
							<label>Total R&D Cost <strong>*</strong></label>
							<input type="text" name="cost" placeholder="Total R&D Cost">
						</div>
						<div class="field">
							<label>Source of External Funds</label>
							<input type="text" name="source" placeholder="Source of External Funds">
						</div>
						<div class="field">
							<label>Amount of External Funds</label>
							<input type="text" name="amount" placeholder="Amount of External Funds">
						</div>
					</div> <!-- .three.fields -->
					<div class="field">
						<label>Facilities, Materials, Staff within the Department or College (if any)</label>
						<textarea rows="2"></textarea>
					</div> <!-- .fields -->
					<div class="two fields">
						<div class="field">
							<label>Objectives of the Project<strong>*</strong></label>
							<textarea rows="2"></textarea>
						</div>
						<div class="field">
							<label>Expected Outputs<strong>*</strong></label>
							<textarea rows="2"></textarea>
						</div>
					</div> <!-- .two.fields -->
					<div class="field">
						<label>Description of Word Done and Accomplishments (if project is in progress)<strong>*</strong></label>
						<textarea rows="2"></textarea>
					</div> <!-- .field -->
					<div class="field">
						<label>Estimated Number of Hours Per Week Devoted to This Project<strong>*</strong></label>
						<input type="text" name="hours" placeholder="Number of Hours Per Week">
					</div> <!-- .field -->
					<div class="grouped fields">
					    <label>Have you attained endorsement from department head/chairman?<strong>*</strong></label>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="example2">
					        <label>No</label>
					      </div>
					    </div>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="example2">
					        <label>Yes</label>
					      </div>
					    </div>
					</div> <!-- .grouped.fields -->
					<div class="grouped fields">
					    <label>Have you submitted this proposal to any other funding agency? if yes, please state<strong>*</strong></label>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="example2">
					        <label>No</label>
					      </div>
					    </div>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="example2">
					        <label>Yes</label>
					      </div>
					    </div>
					</div> <!-- .grouped.fields -->
					<div class="field" style="margin-top: 10px">
							<input placeholder="If yes, please state..." type="text">
					</div>
				</div>
				<input style="position: absolute; left: 0" type="button" name="previous" class="previous action-button" value="Previous"/>
				<input style="position: absolute; right: 0" type="button" name="next" class="next action-button" value="Next"/>
			</fieldset>
	 		<!-- PROPOSAL FORM -->

			<!-- UPLOAD FILES -->
			<fieldset>
				<h2 class="fs-title">Upload Recommendation Letter and Grant Chart</h2>
				<div class="ui grid center aligned" style="margin-top: 50px">
					<div class="three row column">
						<div class="column"></div>
						<div class="four wide column"><button class="ui button">Upload File</button></div>
						<div class="column"></div>
					</div>
				</div>
				<br>
				<input style="position: absolute; bottom: 10px; left: 0" type="button" name="previous" class="previous action-button" value="Previous"/>
				<input style="position: absolute; bottom: 10px; right: 0" type="button" name="next" class="next action-button" value="Next"/>
			</fieldset>
			<!-- UPLOAD FILES -->

			<!-- UPLOAD PROPOSAL -->
			<fieldset>
				<h2 class="fs-title">Upload Proposal</h2>
				<div class="ui grid center aligned" style="margin-top: 50px">
					<div class="three row column">
						<div class="column"></div>
						<div class="six wide column"><button class="ui button">Upload Proposal</button></div>
						<div class="column"></div>
					</div>
				</div>
				<br>
				<input style="position: absolute; bottom: 10px; left: 0" type="button" name="previous" class="previous action-button" value="Previous"/>
				<div style="position: absolute; bottom: 10px; right: 0">
					<input style="text-align: center" type="button" name="next" class="next action-button" value="Save as Draft"/>
					<input style="text-align: center" type="button" name="next" class="next action-button" value="Submit"/>
				</div>
			</fieldset>
			<!-- UPLOAD PROPOSAL -->

		</form>
		<!-- BODY -->

		<script>
		    $('.ui.radio.checkbox')
		      .checkbox()
		    ;
	    </script>

		<!-- jQuery -->
		<script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<!-- jQuery easing plugin -->
		<script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>

		<script>
			$(document).ready(function(){
				//jQuery time
				var current_fs, next_fs, previous_fs; //fieldsets
				var left, opacity, scale; //fieldset properties which we will animate
				var animating; //flag to prevent quick multi-click glitches

				$(".next").click(function(){
					if(animating) return false;
					animating = true;

					current_fs = $(this).parent();
					next_fs = $(this).parent().next();

					//activate next step on progressbar using the index of next_fs
					$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

					//show the next fieldset
					next_fs.show();
					//hide the current fieldset with style
					current_fs.animate({opacity: 0}, {
						step: function(now, mx) {
							//as the opacity of current_fs reduces to 0 - stored in "now"
							//1. scale current_fs down to 80%
							scale = 1 - (1 - now) * 0.2;
							//2. bring next_fs from the right(50%)
							left = (now * 50)+"%";
							//3. increase opacity of next_fs to 1 as it moves in
							opacity = 1 - now;
							current_fs.css({'transform': 'scale('+scale+')'});
							next_fs.css({'left': left, 'opacity': opacity});
						},
						duration: 800,
						complete: function(){
							current_fs.hide();
							animating = false;
						},
						//this comes from the custom easing plugin
						easing: 'easeInOutBack'
					});
				});

				$(".previous").click(function(){
					if(animating) return false;
					animating = true;

					current_fs = $(this).parent();
					previous_fs = $(this).parent().prev();

					//de-activate current step on progressbar
					$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

					//show the previous fieldset
					previous_fs.show();
					//hide the current fieldset with style
					current_fs.animate({opacity: 0}, {
						step: function(now, mx) {
							//as the opacity of current_fs reduces to 0 - stored in "now"
							//1. scale previous_fs from 80% to 100%
							scale = 0.8 + (1 - now) * 0.2;
							//2. take current_fs to the right(50%) - from 0%
							left = ((1-now) * 50)+"%";
							//3. increase opacity of previous_fs to 1 as it moves in
							opacity = 1 - now;
							current_fs.css({'left': left});
							previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
						},
						duration: 800,
						complete: function(){
							current_fs.hide();
							animating = false;
						},
						//this comes from the custom easing plugin
						easing: 'easeInOutBack'
					});
				});

				$(".submit").click(function(){
					return false;
				});

			});
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
	</body>

</html>
