<div class="ui grid middle aligned" style="height: 80vh;">
    <div class="row center aligned" style="height: 100%;">
        <div class="column">
            <h2 class="ui header" style='font-size: 150px;'>404
                <span class="sub header">Page not found.</span>
            </h2>
        </div>
    </div>
</div>