		<!-- BODY -->
			<div class="ui relaxed grid center aligned">
				<div class="two column row" style="margin-top: 70px; height: 710px; overflow: hidden">
					<div class="eight wide column">
						<div class="ui relaxed grid">
							<div class="row">
								<!-- COUNTDOWN -->
								<div class="column">
									<div class="ui container segment" id="countdown">
										<h2>COUNTDOWN</h2>
									</div>
								</div>
								<!-- COUNTDOWN -->
							</div>
							<br>
							<div class="row">
								<div class="column">
									<div class="ui container segment" id="announcements">
										<h2>ANNNOUNCEMENTS</h2>
										<div class="ui relaxed divided list">
											<div class="item">
												<div class="content">
													<p>
													<br>Lorem ipsum dolor sit amet,
													<br>consectetur adipisicing elit.
													<br>Ad omnis quae expedita ipsum
													<br>nobis praesentium velit animi
												</p>
												</div>
											</div> <!-- item 1 -->
											<div class="item">
												<div class="content">
													<p>
														<br>minus amet perspiciatis laboriosam
														<br>similique debitis iste ratione nemo
														<br>ea at corporis aliquam.
													</p>
												</div>
											</div> <!-- item 2 -->
										</div> <!-- .ui.relaxed.divided.list -->
									</div> <!-- .ui.container.segment -->
								</div>
							</div> <!-- .row -->
						</div> <!-- .ui.relaxed.grid -->
					</div> <!-- .eight.wide.column -->

					<div class="four wide column">
						<div class="ui grid">
							<div class="row">
								<div class="column">
									<!-- ACCEPTED PROPOSALS -->
									<div class="ui container segment" id="proposals">
										<h2>LIST OF ACCEPTED PROPOSALS</h2>
										<br>
										<div class="ui relaxed divided list">
											<div class="item">
												<div class="left floated content">
													<p>Proposal 1</p>
												</div>
												<div class="right floated content">
													<p>Researcher 1</p>
												</div>
											</div> <!-- item 1 -->
											<br>
											<div class="item">
												<div class="left floated content">
													<p>Proposal 2</p>
												</div>
												<div class="right floated content">
													<p>Researcher 2</p>
												</div>
											</div> <!-- item 2 -->
											<br>
											<div class="item">
												<div class="left floated content">
													<p>Proposal 3</p>
												</div>
												<div class="right floated content">
													<p>Researcher 3</p>
												</div>
											</div> <!-- item 3 -->
											<br>
										</div>
									</div>
									<!-- ACCEPTED PROPOSALS -->
								</div> <!-- .column -->
							</div> <!-- .row -->
							<div class="row">
								<div class="column">
									<!-- SIGN UP -->
									<div id="signuppage" class="ui container segment" style="text-align: left">
										<h2>SIGN UP</h2>
										<form class="ui form">
											<div class="two fields">
												<div class="field">
													<label>First Name</label>
													<input type="text" name="firstname" placeholder="First Name">
												</div>
												<div class="field">
													<label>Last Name</label>
													<input type="text" name="lastname" placeholder="Last Name">
												</div>
											</div>
											<div class="two fields">
												<div class="field">
													<label>Contact Number</label>
													<input type="text" name="contact" placeholder="Contact Number">
												</div>
												<div class="field">
													<label>Email Address</label>
													<input type="text" name="email" placeholder="Email Address">
												</div>
											</div>
											<div class="two fields">
												<div class="field">
													<label>Password</label>
													<input type="password" name="password" placeholder="Password">
												</div>
												<div class="field">
													<label>Confirm Password</label>
													<input type="password" name="password_confirm" placeholder="Confirm Password">
												</div>
											</div>
											<div class="two fields">
												<div class="field">
													<label>Deparment</label>
													<input type="text" name="department" placeholder="Engineering Department">
												</div>
												<div class="field">
													<label>Rank</label>
													<input type="text" name="rank" placeholder="Rank">
												</div>
											</div>
											<br>
											<button class="ui orange button" type="signup" style="margin-bottom: 20px">Create Account</button>
										</form>
									</div>
									<!-- SIGN UP -->
								</div> <!-- .column -->
							</div> <!-- .row -->
						</div> <!-- .ui.grid -->
					</div> <!-- .four.wide.column -->
				</div> <!-- .two.column.row -->
			</div> <!-- .ui.relaxed.grid.center.aligned -->
		<!-- BODY -->
