<script src="temp/jquery-1.11.0.min.js"></script> <script src="temp/semantic.min.js"></script>

<div class="ui container grid center aligned">
    <div class="row">
        <div class="ten wide column">
            <div class="ui segment left aligned">
                <div class="ui large header center aligned">
                    Archive
                </div>
                <div class="ui styled accordion">
                  <div class="title" id="accordion_title">
                    <i class="dropdown icon"></i>
                    Academic Year 2016 - 2017
                  </div>
                  <div class="content">
                    <p class="transition hidden">
                        <div class="ui middle aligned relaxed divided list">
                          <div class="item">Proposal Title</div>
                          <div class="item">Proposal Title</div>
                          <div class="item">Proposal Title</div>
                        </div>
                    </p>
                  </div>
                  <div class="title" id="accordion_title">
                    <i class="dropdown icon"></i>
                    Academic Year 2014 - 2015
                  </div>
                  <div class="content">
                    <p class="transition hidden">
                      <div class="ui middle aligned relaxed divided list">
                          <div class="item">Proposal Title</div>
                          <div class="item">Proposal Title</div>
                        </div>
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/accordion.js"></script>
<script src="js/vendor/jquery-1.11.2.min.js"></script>

<script>
  $('.ui.styled.accordion').accordion();
</script>