<div class="ui container grid center aligned">
    <div class="row">
        <div class="fourteen wide column right bordered">
            <div class="ui segment">
                <div class="ui medium header">
                    My Proposals
                </div>
                <table class="ui orange striped selectable fixed single line celled table">
                  <thead>
                    <tr><th>Title</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr></thead>
                  <tbody>
                    <tr>
                      <td>Proposal</td>
                      <td>Saved as Draft</td>
                      <td>
                        <button class="ui mini button">
                          View
                        </button>
                        <button class="ui mini button" tabindex="0">
                          Edit
                        </button>
                        <button class="ui mini button" tabindex="0">
                          Cancel
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Proposal</td>
                      <td>Pending</td>
                      <td>
                        <button class="ui mini button">
                          View
                        </button>
                        <button class="ui mini button" tabindex="0">
                          Cancel
                        </button>
                      </td>
                    </tr>
                    <tr class="positive">
                      <td>Proposal</td>
                      <td>Accepted</td>
                      <td>
                        <button class="ui mini button">
                          View
                        </button>
                      </td>
                    </tr>
                    <tr class="negative">
                      <td>Proposal</td>
                      <td>Denied</td>
                      <td>
                        <button class="ui mini button">
                          View
                        </button>
                      </td>
                    </tr>
                    <tr class="warning">
                      <td>Proposal</td>
                      <td>Resubmit</td>
                      <td>
                        <button class="ui mini button">
                          View
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Proposal</td>
                      <td>Cancelled</td>
                      <td>
                        <button class="ui mini button">
                          View
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>