<!-- HAVEN'T IMPLEMENTED STEPS LEFT -->

<div class="ui container grid center aligned">
    <div class="row">
        <div class="ten wide column">
            <div class="ui segment" id="form">
                <div class="ui large header">
                    Submit Proposal
                </div>
                <p>Required Fields<strong>*</strong></p>
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label>First Name<strong>*</strong></label>
                            <input type="text" name="firstname" placeholder="First Name">
                        </div>
                        <div class="field">
                            <label>Last Name<strong>*</strong></label>
                            <input type="text" name="lastname" placeholder="Last Name">
                        </div>
                    </div> 
                    <div class="two fields">
                        <div class="field">
                            <label>Department or Institute<strong>*</strong></label>
                            <input type="text" name="dept" placeholder="Department or Institute">
                        </div>
                        <div class="field">
                            <label>Rank<strong>*</strong></label>
                            <input type="text" name="rank" placeholder="Rank">
                        </div>
                    </div> 
                    <div class="two fields">
                        <div class="field">
                            <label>Contact Number<strong>*</strong></label>
                            <input type="text" name="contact" placeholder="Mobile Phone/Telephone">
                        </div>
                        <div class="field">
                            <label>Email Address<strong>*</strong></label>
                            <input type="text" name="email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="field">
                        <label>Title of Project<strong>*</strong></label>
                        <input type="text" name="title" placeholder="Title of the Project">
                    </div> 
                    <div class="two fields">
                        <div class="field">
                            <label>Princinpal Researcher<strong>*</strong></label>
                            <input type="text" name="researcher" placeholder="Principal Researcher">
                        </div>
                        <div class="field">
                            <label>Name of Coresearchers</label>
                            <input type="text" name="coresearchers" placeholder="Coresearchers">
                        </div>
                    </div> 
                    <div class="three fields">
                        <div class="field">
                            <label>Total R&D Cost <strong>*</strong></label>
                            <input type="text" name="cost" placeholder="Total R&D Cost: 0 to 5000000">
                        </div>
                        <div class="field">
                            <label>Source of External Funds</label>
                            <input type="text" name="source" placeholder="Source of External Funds">
                        </div>
                        <div class="field">
                            <label>Amount of External Funds</label>
                            <input type="text" name="amount" placeholder="Amount of External Funds">
                        </div>
                    </div> 
                    <div class="field">
                        <label>Facilities, Materials, Staff within the Department or College (if any)</label>
                        <textarea rows="2"></textarea>
                    </div> 
                    <div class="two fields">
                        <div class="field">
                            <label>Objectives of the Project<strong>*</strong></label>
                            <textarea rows="2"></textarea>
                        </div>
                        <div class="field">
                            <label>Expected Outputs<strong>*</strong></label>
                            <textarea rows="2"></textarea>
                        </div>
                    </div> 
                    <div class="field">
                        <label>Description of Word Done and Accomplishments (if project is in progress)<strong>*</strong></label>
                        <textarea rows="2"></textarea>
                    </div> 
                    <div class="field">
                        <label>Estimated Number of Hours Per Week Devoted to This Project<strong>*</strong></label>
                        <input type="text" name="hours" placeholder="Number of Hours Per Week">
                    </div>
                    <div class="grouped fields">
                        <label>Have you attained endorsement from department head/chairman?<strong>*</strong></label>
                        <div class="field">
                          <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>No</label>
                          </div>
                        </div>
                        <div class="field">
                          <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Yes</label>
                          </div>
                        </div>
                    </div> 
                    <div class="grouped fields">
                        <label>Have you submitted this proposal to any other funding agency? if yes, please state<strong>*</strong></label>
                        <div class="field">
                          <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>No</label>
                          </div>
                        </div>
                        <div class="field">
                          <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Yes</label>
                          </div>
                        </div>
                    </div> 
                    <button class="ui button">Upload Recommendation Letter</button>
                    <br>
                    <button class="ui orange button">Upload Proposal PDF</button>
                    <br>
                </div>
                <br>
                <div class="ui mini right floatedd buttons">
                  <button class="ui button">Save as Draft</button>
                  <div class="or"></div>
                  <button class="ui positive button">Submit</button>
                </div>
            </div> 
        </div>
    </div>
</div>