<div class="ui container grid center aligned">
    <div class="row">
        <div class="fourteen wide column right bordered">
            <div class="ui segment">
                <div class="ui medium header">
                    My Proposals
                </div>
                <table class="ui orange striped selectable fixed single line celled table">
                  <thead>
                    <tr><th>Title</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr></thead>
                  <tbody>
                    <% @proposals.each do |proposal| %>
                      <tr>
                        <td><%= proposal.title %></td>
                        <td><%= @proposal_status[proposal.status] %></td>
                        <td>
                          <%= link_to "View", proposal_path(proposal), class: "ui mini button" %>
                          <%= link_to "Cancel", cancel_proposal_path(id: proposal.id), method: :post, class: "ui mini button" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
