<div class="ui container grid center aligned">
    <div class="row">
        <div class="ten wide column">
            <div class="ui large header">Submit Proposal</div>
            <div class="ui segment">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
