.ui.container.segment {
	text-overflow: ellipsis;
}

#proposals {
	overflow: scroll;
	overflow-x: hidden;
	height: 30vh;
}

#countdown {
	height: 10vh;
	overflow: hidden;
}

#announcements {
	overflow: scroll;
	overflow-x: hidden;
	height: 60vh;
}

#announcements p{
	font-size: 20px;
}

#signuppage {
	overflow: scroll;
	overflow-x: hidden;
	height: 40vh;
}

#orange {
	color: white;
	background-color: #e67e22;
	/*maroon #a93226;*/
	/*light orange #e59866;*/
	/*dark orange #ba4a00;*/
}

body {
	background-color: #E5E8E8;
}

.right.floated.content p, .left.floated.content p{
	font-size: 17px;
}

.field {
	font-size: 17px;
}