<!-- NO POPUP YET -->
<div class="ui container grid center aligned">
    <div class="row">
        <div class="fourteen wide column right bordered">
            <div class="ui segment">
                <div class="ui medium header">
                    Proposals
                </div>
                <table class="ui orange striped selectable fixed single line celled table">
                  <thead>
                    <tr><th>Title</th>
                    <th>Author</th>
                    <th>Vote Tally</th>
                    <th>Final Status</th>
                    <th>Actions</th>
                  </tr></thead>
                  <tbody>
                    <tr class="positive">
                      <td>Proposal</td>
                      <td>Author</td>
                      <td>
                          <div class="ui orange labels">
                              <a class="ui label">
                                Accept
                                <div class="detail">2</div>
                              </a>
                              <a class="ui label">
                                Reject
                                <div class="detail">1</div>
                              </a>
                              <a class="ui label">
                                Resubmit
                                <div class="detail">0</div>
                              </a>
                          </div>
                      </td>
                      <td><i class="icon checkmark"></i>Done</td>
                      <td>
                        <button class="ui mini button">
                          Reviews
                        </button>
                        <button class="ui mini button">
                          Download
                        </button>
                        <button class="ui positive mini button">
                          Vote  <!-- comm head is the final vote -->
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Proposal</td>
                      <td>Author</td>
                      <td>
                          <div class="ui orange labels">
                              <a class="ui label">
                                Accept
                                <div class="detail">1</div>
                              </a>
                              <a class="ui label">
                                Reject
                                <div class="detail">1</div>
                              </a>
                              <a class="ui label">
                                Resubmit
                                <div class="detail">  </div>
                              </a>
                          </div>
                      </td>
                      <td>Pending</td>
                      <td>
                        <button class="ui mini button">
                          Reviews
                        </button>
                        <button class="ui mini button">
                          Download
                        </button>
                        <button class="ui positive mini button">
                          Vote
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>