<div class="ui container grid">
    <div class="row">
        <div class="ten wide column right bordered">
            <div class="ui segment">
                <div class="ui huge header">
                    Announcements
                </div>
                <div class="ui button announcement orange attached"> <!--edited-->
                    Create New Announcements
                </div>
                <div class="ui celled feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                            <div class="ui button" >Edit</div> <!---edited-->
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                            <div class="ui button" >Edit</div> <!---edited-->
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                            <div class="ui button" >Edit</div> <!---edited-->
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                            <div class="ui button" >Edit</div> <!---edited-->
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Announcement Header
                            </div>
                            <div class="meta">
                                <div class="date">April 10, 2016 8:30PM PHT</div>
                            </div>
                            <div class="extra text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa ratione minus facilis quae autem illum, qui assumenda voluptatem, hic vitae ad aliquam id cumque maiores, non veritatis doloremque laborum.
                            </div>
                            <div class="ui button" >Edit</div> <!---edited-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui basic segment center aligned">
                <div class="ui statistic">
                    <div class="value">
                        5:30 PM
                    </div>
                    <div class="label">
                        UP Official Time
                    </div>
                </div>
            </div>
            <div class="ui attached segment"> <!-- from treacy's member_home -->
                <div class="ui large header center aligned">
                    Unreviewed Proposals
                </div>
                <div class="ui selection celled list">
                    <div class="item">
                        <div class="content">
                            <div class="ui tiny header">Proposal Title</div> 
                            <br>
                            <div class="ui tiny header">Author</div> 
                        </div>
                        <div class="ui orange animated mini right floated button" tabindex="0">
                          <div class="visible content">View</div>
                          <div class="hidden content">
                            <i class="right arrow icon"></i>
                          </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="ui tiny header">Proposal Title</div> 
                            <br>
                            <div class="ui tiny header">Author</div> 
                        </div>
                        <div class="ui orange animated mini right floated button" tabindex="0">
                          <div class="visible content">View</div>
                          <div class="hidden content">
                            <i class="right arrow icon"></i>
                          </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="ui tiny header">Proposal Title</div> 
                            <br>
                            <div class="ui tiny header">Author</div> 
                        </div>
                        <div class="ui orange animated mini right floated button" tabindex="0">
                          <div class="visible content">View</div>
                          <div class="hidden content">
                            <i class="right arrow icon"></i>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>