<!DOCTYPE html>

<html>
	<head>
		<title>FRIA</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
		<link rel = "stylesheet" type = "text/css" href = "AdminHome.css">
	</head>
 
	<body>
		<!-- ORANGE HEADER -->
		<div id="orange">
			<div class="ui grid center aligned">
				<div class="two column row">
					<div class="column">
						<table style="margin-left: 100px">
							<tr>
								<td></td>
								<td><h1 style="text-align: left; font-size: 55px">FRIA</h1></td>
							</tr>
							<tr>
								<td></td>
								<td><h3 style="text-align: left; font-size: 20px">Faculty Research Incentive Award</h3></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div> <!-- .column first -->
					<div class="column">
						<div class="ui relaxed grid" style="margin-top: 60px">
							<div class="five column row">
								<div class="column"><h3 id="highlighted_page">Home</h3></div>
								<div class="column"><h3 id="menu">Accounts</h3></div>
								<div class="column"><h3 id="menu">Settings</h3></div>
								<div class="column"><h3 id="menu">Log Out</h3></div>
							</div>
						</div>
					</div> <!-- .column third -->
				</div> <!-- .three.column.row -->
			</div> <!-- .ui.grid.center.aligned -->
		</div> <!--orange -->
		<!-- ORANGE HEADER -->

		<!-- BODY -->
			<div class="ui relaxed grid center aligned">
				<div class="two column row" style="margin-top: 70px; height: 710px; overflow: hidden">
					<div class="eight wide column">
						<div class="ui relaxed grid">
							<div class="two column row">
								<!-- WELCOME -->
								<div class="six wide column">
									<p id="welcome">Welcome, Admin!</p>
								</div>
								<!-- WELCOME -->
								<!-- COUNTDOWN -->
								<div class="ten wide column">
									<div class="ui container segment" id="countdown">
										<h2>COUNTDOWN</h2>
									</div>
								</div>
								<!-- COUNTDOWN -->
							</div>
							<br>
							<div class="row">
								<div class="column">
									<div class="ui container segment" id="announcements">
										<h2>ANNNOUNCEMENTS</h2>
										<div class="ui relaxed divided list">
											<div class="item">
												<div class="content">
													<p>
													<br>Lorem ipsum dolor sit amet,
													<br>consectetur adipisicing elit.
													<br>Ad omnis quae expedita ipsum
													<br>nobis praesentium velit animi
												</p>
												</div>
											</div> <!-- item 1 -->
											<div class="item">
												<div class="content">
													<p>
														<br>minus amet perspiciatis laboriosam
														<br>similique debitis iste ratione nemo
														<br>ea at corporis aliquam.
													</p>
												</div>
											</div> <!-- item 2 -->
										</div> <!-- .ui.relaxed.divided.list -->
									</div> <!-- .ui.container.segment -->
								</div>
							</div> <!-- .row -->
						</div> <!-- .ui.relaxed.grid -->
					</div> <!-- .eight.wide.column -->

					<div class="four wide column">
						<div class="ui grid">
							<div class="row">
								<div class="column">
									<!-- REVIEWED PROPOSALS -->
									<div class="ui container segment" id="proposals">
										<h3>LIST OF PENDING USERS</h3>
										<br>
										<div class="ui relaxed divided list">
											<div class="item">
												<div class="left floated content">
													<p>User 1</p>
												</div>
												<div class="right floated content">
													<p>Rank, Department</p>
												</div>
											</div> <!-- item 1 -->
											<br>
											<div class="item">
												<div class="left floated content">
													<p>User 2</p>
												</div>
												<div class="right floated content">
													<p>Rank, Department</p>
												</div>
											</div> <!-- item 2 -->
											<br>
											<div class="item">
												<div class="left floated content">
													<p>User 3</p>
												</div>
												<div class="right floated content">
													<p>Rank, Department</p>
												</div>
											</div> <!-- item 3 -->
											<br>
										</div>
									</div>
									<!-- ACCEPTED PROPOSALS -->
								</div> <!-- .column -->
							</div> <!-- .row -->
						</div> <!-- .ui.grid -->
					</div> <!-- .four.wide.column -->
				</div> <!-- .two.column.row -->
			</div> <!-- .ui.relaxed.grid.center.aligned -->
		<!-- BODY -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
	</body>

</html>
