<!DOCTYPE html>

<html>
	<head>
		<title>FRIA</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
		<link rel = "stylesheet" type = "text/css" href = "MyProposals.css">
	</head>

	<body>
		<!-- MODAL -->
	    <div class="ui container" id="popup">
	        <div class="ui small modal">
	            <i class="close icon"></i>
	            <div id="header" class="header" style="text-align: center">
	              Cancel Grant Application
	            </div>
	            <div class="content">
	              <!-- POP UP BOX -->
	              	<div class="ui form" style="text-align: center">
	              	<h2>Are you sure you want cancel this grant application?</h2>
					  
					  <button class="ui orange right floated button" id="yes" style="margin-bottom: 20px">Yes</button>
					</div>
	              <!-- POP UP BOX -->
	            </div>
	        </div>
	    </div>
	    <!-- MODAL -->
		<!-- ORANGE HEADER -->
		<div id="orange">
			<div class="ui grid center aligned">
				<div class="two column row">
					<div class="column">
						<table style="margin-left: 100px">
							<tr>
								<td></td>
								<td><h1 style="text-align: left; font-size: 55px">FRIA</h1></td>
							</tr>
							<tr>
								<td></td>
								<td><h3 style="text-align: left; font-size: 20px">Faculty Research Incentive Award</h3></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div> <!-- .column first -->
					<div class="column">
						<div class="ui relaxed grid" style="margin-top: 60px">
							<div class="four column row">
								<div class="column"><h3 id="menu">Home</h3></div>
								<div class="column">
									<div class="ui simple dropdown">
										<div class="text"><h3 id="highlighted_page">Proposals</h3></div>
										<i class="dropdown icon"></i>
										<div class="menu">
											<div class="item"><h3 id="highlighted_page" style="font-size: 20px">Submit Proposal</h3></div>
											<div class="item"><h3 id="menu" style="font-size: 20px">My Proposals</h3></div>
										</div>
									</div>
								</div>
								<div class="column"><h3 id="menu">Account Settings</h3></div>
								<div class="column"><h3 id="menu">Log Out</h3></div>
							</div>
						</div> <!-- .ui.relaxed.grid -->
					</div> <!-- .column third -->
				</div> <!-- .three.column.row -->
			</div> <!-- .ui.grid.center.aligned -->
		</div> <!--f26b18 -->
		<!-- ORANGE HEADER -->

		<!-- BODY -->
		<div class="ui stacked segment" style="margin-top: 100px; margin-left: 200px; margin-right: 200px">
			<div class="ui grid middle aligned">
				<table class="ui very basic table" style="margin-top: 20px">
					<thead style="border: 2px solid grey">
						<tr>
						  <th><h4>Proposal Title</h4></th>
						  <th><h4>Summary</h4></th>
						  <th><h4>Status</h4></th>
						  <th><h4>Actions</h4></th>
						</tr>
					</thead>
					<tbody>
						<tr id="rows">
						  <td><h3>Proposal Title 1</h3></td>
						  <td><h3>Lorem ipsum dolor sit amet,consectetur dipisicing elit.</h3></td>
						  <td><h3>Draft</h3></td>
						  <td><button class="ui button" type="view">View</button>&nbsp;<button class="ui button" id="cancel">Cancel</button></td>
						</tr>
						<tr id="rows">
						  <td><h3>Proposal Title 2</h3></td>
						  <td><h3>Lorem ipsum dolor sit amet,consectetur dipisicing elit.</h3></td>
						  <td><h3>Pending</h3></td>
						  <td><button class="ui button" type="vew">View</button>&nbsp;<button class="ui button" type="cancel">Cancel</td>
						</tr>
						<tr id="rows">
						  <td><h3>Proposal Title 3</h3></td>
						  <td><h3>Lorem ipsum dolor sit amet,consectetur dipisicing elit.</h3></td>
						  <td><h3>Approved</h3></td>
						  <td><button class="ui button" type="vew">View</button>&nbsp;<button class="ui button" type="final">Create Report</button>&nbsp;<button class="ui button" type="cancel">Cancel</td>
						</tr>
						<tr id="rows">
						  <td><h3>Proposal Title 4</h3></td>
						  <td><h3>Lorem ipsum dolor sit amet,consectetur dipisicing elit.</h3></td>
						  <td><h3>Rejected</h3></td>
						  <td><button class="ui button" type="vew">View</button></td>
						</tr>
					</tbody>
				</table>
			</div> <!-- .ui.grid.middle.aligned -->
		</div> <!-- .ui.stacked.segment -->
		<!-- BODY -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
		<script>
	      $('.ui.modal')
	        .modal('attach events', '#cancel', 'show')
	      ;
	    </script>
	</body>

</html>
