.ui.container.segment {
	text-overflow: ellipsis;
}

#proposals {
	overflow: scroll;
	overflow-x: hidden;
	height: 74vh;
}

#menu, #highlighted_page {
	font-size: 23px;
}

#highlighted_page {
	color: #a93226;
}

#countdown {
	height: 10vh;
	overflow: hidden;
}

#announcements {
	overflow: scroll;
	overflow-x: hidden;
	height: 60vh;
}

#announcements p {
	font-size: 20px;
}

#orange {
	color: white;
	background-color: #e67e22;
	/*maroon #a93226;*/
	/*light orange #e59866;*/
	/*dark orange #ba4a00;*/
}

body {
	background-color: #E5E8E8;
}

#welcome {
	font-size: 20px;
}

.content {
	text-align: left;
}

.right.floated.content p, .left.floated.content p{
	font-size: 17px;
}