#orange {
	color: white;
	background-color: #e67e22 ;
}

#menu, #highlighted_page {
	font-size: 25px;
}

#highlighted_page {
	color: #a93226;
}

body {
	background-color: #E5E8E8;
}

#rows:hover {
	background-color: #E5E8E8;
}

table {
	overflow: scroll;
	overflow-x: hidden;
}
